<div class="d-flex flex-column horizontal-expand mb-3">
  <div class="container-fluid d-flex justify-content-center bg-success my-1">
    <h3 class="py-2">About</h3>
  </div>
  <div class="d-flex flex-column horizontal-expand justify-content-between">
    <div class="d-flex horizontal-expand m-1 p-2 bg-light">
      <div class="m-1 p-2"><img src="/custom/ferret.png" width="100"></div>
      <div class="d-inline-block">
        <a target="_blank" href="https://github.com/Joe-Klauza/sandstorm-admin-wrapper/">Sandstorm Admin Wrapper</a> is a gift to the Insurgency: Sandstorm community. My goal was to ease the pain of hosting an Insurgency: Sandstorm server by making server administration painless. If this software made your life easier, I accomplished my goal. Please feel free to provide feedback on  <a target="_blank" href="https://github.com/Joe-Klauza/sandstorm-admin-wrapper/">the GitHub repository</a> or message me (Ferret) on the unofficial <a target="_blank" href="https://discord.gg/DSwnmyA">Community Server Hosts Discord</a>.
      </div>
    </div>
    <div class="d-inline-block justify-content-start horizontal-expand m-1 p-2 bg-light">
      If you'd like to show your appreciation, feel free to donate via PayPal <a target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=QZDY3PPUMH5TU&item_name=Sandstorm%20Admin%20Wrapper&currency_code=USD">here</a>.
    </div>
  </div>
</div>