<div class="modal-header">
  <h4 class="modal-title btn btn-danger active horizontal-expand"><%= @title %></h4>
</div>
<div class="modal-body d-flex align-items-center justify-content-between">
  <div class="p-2 horizontal-expand">
    <div class="d-flex align-items-center justify-content-center">
      <div class="p2 flex-column horizontal-expand justify-content-center">
        <div class="m-2"><%= @body %></div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer container-fluid justify-content-between">
  <button type="button" class="btn btn-danger"  onclick="<%= @no %>" data-dismiss="modal">No</button>
  <button type="button" class="btn btn-success" onclick="<%= @yes %>" data-dismiss="modal">Yes</button>
</div>
