<div class="d-flex flex-column bg-light horizontal-expand mb-3">
  <div class="container-fluid d-flex justify-content-center bg-primary">
    <h3 class="py-2">Sandstorm Admin Wrapper</h3>
  </div>
</div>
