<% @configs.sort_by {|_, config| config['server-config-name'] }.each do |key, config| %>
<div class="horizontal-expand d-flex justify-content-between">
  <a href="#" class="p-2 col-11 dropdown-item horizontal-expand d-flex justify-content-between" onclick="loadServerConfig(`<%= CGI.escapeHTML(key) %>`);" style="padding: 0 0;">
    <div class="col-6 horizontal-expand" style="font-size: small; padding: 0;"><%= CGI.escapeHTML(config['server-config-name']) %></div>
  </a>
</div>
<% end %>
