<% @configs.sort_by {|key, _| key }.each do |key, config| %>
<div class="horizontal-expand d-flex justify-content-between">
  <a href="#" class="p-2 col-11 dropdown-item horizontal-expand d-flex justify-content-between" onclick="loadServerConfig('<%= CGI.escapeHTML key %>');" style="padding: 0 0;">
    <div class="col-6 horizontal-expand" style="font-size: small; padding: 0;"><%= key %></div>
  </a>
  <a href="#" class="py-2 col-1 dropdown-item text-center" onclick="deleteServerConfig('<%= CGI.escapeHTML key %>');" style="padding: 0 0;">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<% end %>
